/*-----------------
	header
------------------*/
.header_area {
	position: relative;
	text-align: center;

	.btn_back {
		@include position-translate(absolute, $t:50%, $l:0, $x:0, $y:-50%);
	}
	.logo {

	}
}

/*-----------------
	side menu
------------------*/
.side_menu {
	position: fixed;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	z-index: 100;
	-webkit-transition: all ease 1s 0s;
	-moz-transition: all ease 1s 0s;
	-ms-transition: all ease 1s 0s;
	-o-transition: all ease 1s 0s;
	transition: all ease 1s 0s;

	&.active {
		left: 0;
		animation: backgroundColor 1s 1s both alternate;
		-webkit-animation: backgroundColor 1s 1s both alternate;
	}
	.side_bg {
		width: 60%;
		height: 100vh;
		padding: 1rem;
		background-color: #fff;
	}
	.side_logo {
		text-align: center;
		width: 18.75rem;
		margin: 0 auto;
	}
	.menu_side {
		height: 100%;
		margin-top: 5vw;

		li {
			border-top: 1px solid #bebebe;

			&:first-child {
				border-top: none;
			}
			a {
				display: block;
				padding: 4vw 10vw;
				color: #fefefe;
				font-size: 4vw;
			}
			&.active a {
				color: #ff0000;
			}
			&.point_green a {
				color: #159606;
			}
			span:before {
				content: '-';
				display: inline-block;
				margin-right: 10px;
				color: #fefefe;
			}
			&.active span:before {
				color: #ff0000;
			}
			&.point_green span:before {
				color: #159606;
			}
		}
	}
	.btn_close {
		position: absolute;
		top: 0;
		left: 60%;
		width: 30px;
		height: 30px;
		font-size: 30px;
		color: #fff;

		i {
			color: inherit;
			opacity: 1;
		}
	}
}
@keyframes backgroundColor {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

/*-----------------
	main
------------------*/
.page_main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/*-----------------
	reservation
------------------*/
.page_reservation {
	details {
		border: 1px solid #aaa;
		border-radius: 4px;
		padding: .5em .5em 0;
	}

	summary {
		font-weight: bold;
		margin: -.5em -.5em 0;
		padding: .5em;
	}

	details[open] {
		padding: .5em;
	}

	details[open] summary {
		border-bottom: 1px solid #aaa;
		margin-bottom: .5em;
	}

}