$brandColor-blue: #0056a4;
$brandColor-green: #90ba1e;
$brandColor-orange: #ef7d17;
$brandColor-yellow: #ffd630;
$brandColor-purple: #af1280;

$white: #fff;
$offWhite: #fcfcfc;
$light: #c4c4c4;
$lightGrey1: #eeeeee;
$lightGrey2: #f7f7f7;
$grey1: #a5a5a5;
$grey2: #8b8b8b;
$grey3: #6f6f6f;
$grey4: #555;
$dark: #343a40;
$darkGrey1: #3d3d3d;
$darkGrey2: #242424;
$default: #242424;
$black: #000;

$lightBlueGrey1: #f7f7fc;
$lightBlueGrey2: #eff0f6;
$blueGrey1: #d6d8e7;
$blueGrey2: #a0a3bd;
$blueGrey3: #6e7191;
$blueGrey4: #4e4b66;
$darkBlueGrey: #14142a;

$primary: #0056a4;
$secondary: #e6168d;
$success: #14142a;
$info: #90ba1e;
$warning: #ef7d17;
$danger: #d43217;
$muted: #aaaaaa;
